---
import PostCard from '../components/PostCard.astro';
import { formatBlogPosts } from '../js/utils';
import MainLayout from '../layouts/MainLayout.astro';

const allPosts = await Astro.glob('./blog/*.md');
const formattedPosts = formatBlogPosts(allPosts, { limit: 3 });
---

<MainLayout title="My Blog">
  <section class="container" aria-label="New Blog Posts">
    <h2 class="h1">New Blog Posts</h2>
    <div class="post-container">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
